@media only screen and (max-width: 1440px) {

    /*..................................................................INDEX..................................................................................................................*/
    nav>ul>li:nth-child(1) {
        padding: 9px;
        margin: -8px;
    }
    h2:nth-child(1) {
        font-size: 100px;
        top: 100px;
    }

    h2:nth-child(2) {
        font-size: 100px;
        top: -12px;
    }

    hr{
        left: -4px;
        top: 307px;
    }

    h2:nth-child(4) {
        font-size: 36px;
        left: 52px;
        top: 314px;
    }

    h2:nth-child(6) {
        font-size: 24px;
        left: 118px;
        top: 575px;
    }

    .homeCont {
        width: 480px;
        left: 95px;
    }

    nav>ul {
        left: 655px;
    }

    #Background_image {
        width: 600px;
        left: 839px;
        height: 923px;
    }

    #Black_Overlay-1 {
        width: 1005px;
        height: 923px;
    }

    .findMoreBtn{
        left: 151px;
        top: 130px;
    }

    /*..................................................................ABOUT ME..................................................................................................................*/
    .aboutPage{
        top: 924px;
        height: 927px;
    }
    .aboutBackImg{
        width: 1473px;
        height: 925px;
    }
    .Black_Overlay-about{
        width: 1246px;
        height: 927px;
        top: 0px;
        right: -236px;
    }
    .Black_Overlay-about1{
        width: 1919px;
        height: 927px;
        top: 0px;
    }
    .aboutMeTxt{
        left: 666px;
        top: -1080px;
    }
    .aboutMeTxt1{
        font-size: 55px;
        font-weight: 400;
        left: -94px;
        top: 196px;
    }
    .aboutMeTxt p{
        font-size: 25px;
        top: 186px;
        left: 158px;
    }
    .aboutDivider{
        left: -25px;
        top: 425px;
    }
/*SERVICES*/
    .servicesTxt{
        left: 676px;
        top: -990px;
        width: 501px;
    }
    /*INTERESTS*/
    .interestsTxt{
        left: 135px;
        top: -740px;
        width: 471px;
    }
    /*EDUCATION*/
    .educationTxt{
        left: 983px;
        top: -1202px;
        width: 492px;
    }

    /*..................................................................SERVICES..................................................................................................................*/

    .servicePage{
        top: 1851px;
        height: 927px;
    }
    .servicePage img{
        height: 928px;
        width: 1440px;
    }
    .servicePage h1 {
        left: 111px;
        top: -860px;
        font-size: 80px;
    }
    .container {
        top: -1542px;
        left: -311px;
    }
    .card {
        width: 315px;
        height: 471px;
    }
    .card1 {
        width: 315px;
        height: 471px;
        left: 395px;
        top: -471px;
    }
    .card2 {
        width: 315px;
        height: 471px;
        left: 812px;
        top: -942px;
    }
    .face.front1 b {
        font-size: 3em;
    }
    .face.front2  b{
        font-size: 3em;
    }
    .face.front3 b{
        font-size: 3em;
    }

    /*..................................................................WORK..................................................................................................................*/
    .WorkPage {
        position: absolute;
        top: 2780px;
        height: 0px;
    }
    .workPageBack {
        height: 926px;
        width: 1441px;
    }
    .workHead{
        left: 524px;
    }
    .workOverlay {
        width: 1315px;
        left: 55px;
    }
    .project {
        width: 594px;
        height: 302px;
        left: 90px;
        top: 94px;
    }
    .project1 {
        width: 594px;
        height: 302px;
        left: 28px;
        top: 94px;
    }
    .project2 {
        width: 594px;
        height: 302px;
        left: -4px;
        top: 94px;
    }
    .workOverlay1 {
        top: 200px;
        left: 862px;
    }
    .workgithub{
        left: 40px;
    }
    .projectimg:nth-child(1) {
        height: 305px;
        width: 355px;
    }
    .project1 img {
        height: 299px;
        width: 354px;
    }
    .project2 img{
        height: 305px;
        width: 355px;
    }

    /*..................................................................CONTACT..................................................................................................................*/


    .ContactPage {
        top: 3707px;
    }
    .Black_Overlay-contact1 {
        top: 0px;
    }
    .form {
        left: 667px;
    }

}