.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    left: 430px;
    top: 113px;
    height: 745px;
}

.cards .red {
    background-color: #4F4A45;
}

.cards .blue {
    background-color: #4F4A45;
}

.cards .green {
    background-color: #4F4A45;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 238px;
    width: 1346px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 2em;
    font-weight: 700;
    color: #ED7D31;
}

.cards .card p.second-text {
    font-size: 1rem;
    color: #cbb4b0;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}