header{
    position: fixed;
    z-index: 10;
}
.WorkPage{
    position: absolute;
    top: 2875px;
    height: 0px;
}
.WorkPage img {
    position: relative;
    left: 0px;
    height: 926px;
    width: 1900px;
}
.WorkPage h1{
    position: relative;
    top: -879px;
    left: 815px;
    font-size: 71px;
    font-family: sans-serif;
    color: white;
    text-shadow: 3px 7px 12px #6a5846;
}
.workOverlay{
    background-color: #000000b8;
    position: relative;
    height: 505px;
    width: 1719px;
    top: -884px;
    left: 104px;
    border-radius: 45px;
}

.workOverlay1{
    background-color: #000000b8;
    position: relative;
    height: 77px;
    width: 460px;
    top: 175px;
    left: 1259px;
    border-radius: 45px;
}

/*cards*/

.projectCards{
    display: flex;
    margin: 10px;
    gap: 115px;
    position: relative;
    left: -34px;
}

.project {
    position: relative;
    width: 450px;
    height: 351px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 90px;
    top: 65px;
}

.project svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.project:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}
.project img{
    height: 356px;
    width: 448px;
}

.project1 {
    position: relative;
    width: 450px;
    height: 351px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 90px;
    top: 65px;
}

.project1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.project1:hover .card__content {
    transform: rotateX(0deg);
}

.project1:hover svg {
    scale: 0;
}

.project1 img{
    height: 346px;
    width: 441px;
}

.project2 {
    position: relative;
    width: 450px;
    height: 351px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 90px;
    top: 65px;
}

.project2 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.project2:hover .card__content {
    transform: rotateX(0deg);
}

.project2:hover svg {
    scale: 0;
}
.project2 img{
    height: 346px;
    width: 441px;
}



/*button*/
.button {
    width: 129px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgb(161, 255, 20);
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
    left: 310px;
    top: -70px;
}

.svgIcon {
    height: 25px;
    transition-duration: 1.5s;
}

.bell path {
    fill: rgb(19, 19, 19);
}

.button:hover {
    background-color: rgb(192, 255, 20);
    transition-duration: .5s;
}

.button:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
}


.workOverlay1 h1{
    position: relative;
    left: 37px;
    top: 6px;
    font-family: system-ui;
    color: white;
    text-shadow: none;
    font-size: 41px;
}



